In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(100000, size=(100000, 10)),
                      columns=['A','B','C','D','E','F','G','H','I','J'])

In [3]:
df.tail(100)

           A      B      C      D      E      F      G      H      I      J
99900  77571  11589   2075  23117  54763  47779  36310  73718  20889  69856
99901  82192   1659  36363  50536  93168  27705  56975  54047  98401  27879
99902  61431  64968  93239  58762  20103  63278  11248  91817  12184  36070
99903  76495  56252  24820  16106  86324  26861  65057  54578   2693  73773
99904  59623  81222  63934  51652  96391  36792  79111  11142  88391   3176
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
99995  40544  95612   4207  43344  22923  32677  31309  26458  36267  71523
99996  92460  54893  45169  26367  98622  14692   7346  56266  14291  99510
99997  48051  75538    561  21654  29945  38250  15424  57661  63077  39135
99998  72913  37841  53340  64341  94226  74724  89700  85417  38647  28137
99999  32868  71387  43285  92436  66180  12813  29363   9015  39575  93120

[100 rows x 10 columns]

In [7]:
df.sample(10)

           A      B      C      D      E      F      G      H      I      J
51441  52009  78866  56725   6597  14227  90492  18035  47606  42492   6531
94600  25045  58084  79477  10203   4414  65345  60930   4043  92111  25549
75144  22577  39897  77121  31500  32462  24205  52348  47577  87623  83803
82997  84550  80460   6191   9499  88870  80661  23186  89109  41217  99219
71526  59844  17638  98602  75863   2802  20060   8324  83538  34505  42447
89235  58357  93390  14113  60942  46700  41804  20698     12  31398  62698
46227  23816  80774  18851  46164  69146  52268  97669  65322  23923  38478
32992  36032  94948  33598   8564  23093  83172  41869  84383  86393  32975
44477  11606  59614  84663  21730  14845  24986  85402   6797  47613  57620
14143  87144  62870  46188  55185  38300  57978  70019  36360  11015   6233

In [8]:
#strings

In [9]:
texto = 'texto'

In [10]:
texto[::-1]

'otxet'

In [11]:
texto.capitalize()

'Texto'

In [12]:
texto.find('x')

2

In [13]:
texto.replace('x', 'X')

'teXto'